.root {
  -fx-accent: #c93046;
  -fx-default-button: #fd7088;
  -fx-focus-color: #e3305d;
  -fx-faint-focus-color: #e3305d22;
}

#hboxMainNavButtons {
}

#pageCustomer {
    -fx-padding: 50;
}

#grdProducts {
    -fx-grid-lines-visible: true;
}

#scrllProducts {
    -fx-fit-to-width: true;
}

#scrllCart {
    -fx-fit-to-width: true;
}
